@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');


body {
    background-image: url('topography.png');
    margin: 0;
  }

.header {
    background-color: rgb(34, 31, 31);
   padding: 10px;
        
}
h1 {
    padding-top: 30px;
  margin-left: 10%;
  font-size: 34px;
}

h2 {
    padding-top: 15px;
  margin-left: 10%;
}h3 {
    color:#FF0099;
    margin-left: 10%;
  }
p {
    font-family: 'Anonymous Pro', arial;
    margin-left: 10%;
}

.title { text-align: center;
    font-size: 22px;
    padding: 10px;
} 


.header a {
    float: left;
    color:#FF0099;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
    font-size: 18px; 
    line-height: 25px;
    
  }
  .vonal {  text-align: center;
    font-size: 18px;  }

.header-right {
    float: right;
    margin-right: 10%;
  }
  .header img {
    margin-left: 10%;
  }
